extends ../../layouts/layout

block content
  main.pt-5  
    .my-2(style="height:40px;")
      if locals.messages 
        each categorie in Object.keys(locals.messages)
          if categorie === 'success'
          .alert.alert-dismissible.fade.show.text-center.mt-5(role='alert', class=(categorie==='success' ? 'alert-success':'alert-danger'))
            strong= locals.messages[categorie]
            button.close(type='button' data-dismiss='alert' aria-label='Close')
              span(aria-hidden='true') &times;
    a.btn.btn-primary.my-3(href='/dashboard/bicycles/create' role='button') Nueva Bicicleta
    .table-responsive
      table.table.table-striped
        thead.table-dark
          tr
            th(scope='col') Código
            th(scope='col') Color
            th(scope='col') Modelo 
            th(scope='col') Ubicación
            th(scope='col')
            th(scope='col')
        tbody  
          if bicycles.length > 0
            each bicycle in bicycles
              tr 
                td(scope='row')= bicycle.code
                td= bicycle.color 
                td= bicycle.model  
                td= bicycle.location
                td 
                  a.btn.btn-success(href= `/dashboard/bicycles/${bicycle.id}/update` role='button') Editar
                td 
                  form.inline(method='post' action=`/dashboard/bicycles/${bicycle.id}/delete`)
                    input(type='hidden' name='id' value= bicycle.id)
                    button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-danger') 
                      = 'Eliminar' 
          else
            tr
              th.text-center(colspan="6")='No hay bicicletas'